.breadcrumbs {
    margin-top: 43px;
    margin-bottom: 36px;
    &__list {

        &-item {
            display: inline-block;
            margin-right: 10px;
            padding-right: 16px;
            font-size: 15px;
            line-height: 18px;
            color: #C4C4C4;
            position: relative;
        }
        &-item::after {
            content:"";
            position: absolute;
            background-image: url('../icons/product/Back.svg');
            background-repeat: no-repeat;
            right: -1px;
            width: 7px;
            height: 10px;
            bottom: 4px;
        }
        &-item:last-child::after {
            display: none;
        }
    }
}