@media (max-width: 1300px){
    .product__more-link {
        margin-top: 65px;
    }
}

@media (max-width: 1200px) {
    .banner-section__slider {
        max-width: 700px;
    }
    .banner-section__inner {
        justify-content: space-around;
    }
    .banner-section__slider-img {
        width: 100%;
    }
    .banner__img img{
        max-width: 100%;
        display: block;
        margin: auto;
    }
    .catalog__inner-list {
        justify-content: space-around;
    }
}
@media (max-width: 1150px) {
    .categories__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .categories__item-title {
        font-size: 20px;
    }
}
@media (max-width: 1100px) {
    .header .menu__link+.menu__link {
        padding-left: 20px;
    }
    .header__adress {
        margin-right: 20px;
    }
    .card__input-search {
        margin-left: 9px;
        margin-right: 50px;
    }
    .jq-checkbox, .jq-radio {
        margin: 0px 15px 0px 20px;
        
    }
}
@media (max-width: 1040px) {
    .banner-section__slider {
        max-width: 640px;
    }
    .banner-section {
        padding-top: 45px;
    }
    .banner-section__inner {
        justify-content: space-between;
    }
    .catalog .product-item__wrapper.product-item__wrapper--list .product-item__hover-text {
        left: 33%;
    }
    .product-item__title {
        padding-top: 24px;
    }
    .catalog__filter-button {
        display: none;
    }
}
@media (max-width: 970px) {
    .banner-section__item {
        margin-top: 40px;
    }
}
@media (max-width: 968px) {
    .products-card__sale {
        display: none;
    }
    .products-card__content-btn-mobile {
        display: inline-block;
        margin-top: 40px;
        width: 100%;
    }
    .products-card__description {
        order: -1;
        display: block;
        margin: 0px auto;
    }
    .products-card__box-img {
        display: block;
        margin: 0px auto;
    }
    .products-card__tabs {
        display: none;
    }
    .products-card__inner{
        flex-wrap:wrap;
    }
    .product__inner .products__tabs {
        margin-bottom: 16px;
    }
    .product__title {
        text-align: center;
    }
    .header__bottom {
        display: none;
    }
    .banner-section__inner {
        justify-content: center;
        flex-wrap: wrap;
    }
    .banner-section__slider {
        margin-right: 20px;
        max-width: 700px;
    }
    .banner-section {
        padding-top: 25px;
    }
    .banner-section__slider-img {
        min-height: 350px;
    }
    .menu__list {
        display: none;
    }
    .menu__mobile-wrapper {
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #2F3035;
        font-family: "SFProDisplay-Bold", sans-serif;
        overflow-x: scroll;
        margin: 0;
    }
    .menu__mobile-line {
        padding: 14px 10px;
        background: #F0F0F4;
        overflow-x: scroll;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .menu__btn {
        display: block;
        background: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
    }
    .menu__btn-line {
        background: #2F3035;
        border-radius: 3px;
        margin: 9px 0;
        height: 4px;
        width: 34px;
    }
    .menu-mobile__list {
        display: block;
    }

    .menu-mobile__list {
        width: 243px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        transform: translateX(-100%);
        transition: all .5s;
        z-index: 10;
        position: absolute;
        background-color: #fff;
    }
    .menu-mobile__link {
         display: flex;
         padding-left: 53px;;
         padding-top: 36px;  
    }

    .menu-mobile__list--active {
        transform: translateX(0);
    }
    .menu-mobile__item {
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .menu-mobile__item:nth-child(15) {
        margin-bottom: 40px;
    }
    .menu-mobile__img {
        position: absolute;
        left: 11px;
        bottom: 0;
    }
    .mobile-overflow {
        width: 1000px;
    }
    .tabs-wrapper {
        
        overflow-x: scroll;
    }
    .search__content-form {
        position: relative;
    }
    .search__content-button {
        font-size: 0;
        line-height: 0;
        padding: 14px 0px;
        background-color: transparent;
        border-radius: 0;
        border: none;
        outline: 0;
        background-image: url('../icons/search.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .search__content-input {
        height: 50px;
        padding-right: 48px;
    }
    .search__tabs-item.tab--active {
        background-color: none;
        
    }
    .search__tabs {
        margin-bottom: 0;
    }
    .mobile__product-more {
        display: block;
    }
    .breadcrumbs__list {
        flex-wrap: wrap;
    }
    .breadcrumbs__list-item {
        margin-bottom: 5px;
    }
    .card__input-search {
        margin-right: 25px;
    }
    .card__lable-search {
        width: 100%;
        margin-bottom: 40px;
    }
    .card__top-line {
        flex-wrap: wrap;
    }

    .jq-checkbox, .jq-radio  {
        margin: 0px 15px 0px 15px;
        
    }
    .card__list-item {
        display: block;
        
    }
    .card__list-item div {
        margin-bottom: 15px;
    }
    .card__list-addresstitle,
    .card__list-workhourstitle,
    .card__list-avialabletitle,
    .card__list-numtitle {
        display: none;
    }

}
@media (max-width: 935px) {
    .footer__top-inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__top-item {
        margin-bottom: 25px;
    }
    .banner-section__slider {
        margin-right: 0;
    }
    
}

@media(max-width: 737px) {
    .banner-section__slider {
        max-width: 600px;
    }
    .banner-section__slider-img {
        min-height: 300px;
    }
}
@media(max-width: 700px) {
    .footer__top-item {
        width: 100%;
    }
    .footer__bottom {
        flex-direction: column;
        justify-content: start;
    }
    .footer__bottom-link {
        margin-left: 0;
        margin-bottom: 12px;
    }
    .social-list {
        justify-content: center;
    }
    .footer__top-inner {
        justify-content: start;
    }
    .footer__top-newslatter.footer__top-item  {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
        text-align: center;
    }
    .footer-list {
        display: none;
    }
    .footer__top-title.footer__topdrop {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #7F7F7F;
        padding: 15px 0;
       
    }
    .footer__top-item {
         border-bottom: 2px solid #F9F9FC;
    }
    .footer__top-itemdrop {
        border-top: 2px solid #F9F9FC;
        margin-bottom: 0;
    }
    .footer__top-social.footer__top-item {
        border-bottom: none;
    }
    .footer__topdrop {
        position: relative;
    }
    .footer__topdrop::after {
        content: '';
        background-image: url(../img/arrow.svg);
        width: 12px;
        height: 7px;
        right: 0;
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        transform: rotate(0deg);
    }
    .footer__top--active::after {
        transform: rotate(180deg);
    }
    .catalog__filter {
        margin: 26px 0px 25px 0px;
    }
    .filter-btn {
        background: #1C62CD;
        border-radius: 3px;
        padding: 10px 20px;
        display: block;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin: 0px auto 15px;
        width: 100%;
    }
    .catalog__filter {
        flex-wrap: wrap;
    }
    .catalog__filter-items button{
        margin: 0px 0px 10px 0px;
        
    }
    .aside-filter {
        display: none;
    }
    .catalog__inner {
        flex-wrap: wrap;
    }
    .catalog__inner-list .pagination-list__item {
        margin: 0px 0px 0px 0px;
        padding: 9px 13px;
    }
    .footer__topdrop {
        pointer-events: auto;
    }

}
@media(max-width: 640px) {
    .header__adress {
        display: none;
    }
    .header__adress-mobile {
        display: block;
    }
    .menu-mobile__item {
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
       
    }
    .banner-section__slider {
        max-width: 430px;
    }
    .banner-section__slider-img {
        min-height: 250px;
    }
    .menu-mobile__img {
        position: absolute;
        left: 11px;
        bottom: 0;
    }
    .menu-mobile__link {
         display: flex;
         padding-left: 53px;;
         padding-top: 36px;
         
    }
    .header__adress-mobile {
        padding: 65px 18px 136px 44px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #2F3035;
        font-family: "SFProDisplay-Bold", sans-serif;
    }
    .banner-section .slick-dots{
        bottom: 25px;
    }
    .products-card__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    .products-card__priсe-old.priсe-old {
        text-align: center;
        display: inline-block;
    }
    .products-card__box-img {
        padding-top: 10px;
        width: 320px;
    }
    .products-card__box-img img{
        width: 250px;
    }
    .products-card__description {
        width: 320px;
    }
    .card__lable-search {
        flex-wrap: wrap;
    }
    .card__input-search {
        margin: 10px 0px 0px 0px;
        width: 100%;
    }
    .card__tab-content {
        margin: 0;
    }
    .card__top-line {
        margin-bottom: 0;
    }
    .card__list-item:nth-child(1) {
        padding: 0px 0px 0px 0px;
    }
}
@media(max-width: 450px){
    .banner-section .container {
        padding: 0;
    }
    .menu__mobile-line {
        width: 460px;
        display: inline-block;
    }
    .menu__item + .menu__item {
        margin-left: 15px;
    }
    .banner-section__slider {
        max-width: 320px;
    }
    .banner-section__slider-img {
        min-height: 164px;
    }
    .banner-section .slick-dots{
        bottom: 15px;
    }
    .banner-section .slick-dots button {
        width: 7px;
        height: 7px;
    }
}