<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Гидроциклы
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
        link( href="css/fonts.min.css")
        link(rel="stylesheet", href="css/style.min.css")
    body
        header.header
            .header__top
                .container
                    .header__top-inner
                        nav.menu
                            ul.menu__list
                                li.menu__item
                                    |
                                    |
                                    a.menu__link(href="#") Магазины
                                    |
                                    |
                                    a.menu__link(href="#") Акции
                                    |
                                    |
                                    a.menu__link(href="#") Доставка и оплата
                        |
                        |
                        a.logo(href="#")
                            |
                            |
                            img.logo__img(src="icons/header/logo.svg", alt="logo-img")
                            |
                            |
                        .header__box
                            p.header__adress Москва,  ул. Науки  25
                            ul.user-list
                                li.user-list__item
                                    |
                                    |
                                    a.user-list__link(href="##")
                                        img(src="icons/header/heart.svg", alt="heart-img")
                                    |
                                    |
                                li.user-list__item
                                    |
                                    |
                                    a.user-list__link(href="#")
                                        img(src="icons/header/user.svg", alt="user-img")
                                    |
                                    |
                                li.user-list__item
                                    |
                                    |
                                    a.user-list__link.bascet(href="#")
                                        img(src="icons/header/basket.svg", alt="basket-img")
                                        p.bascet__num 5
                                    |
                                    |
            .header__bottom
                .container
                    ul.menu-categories
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Квадроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Катера
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Гидроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Лодки
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Вездеходы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Снегоходы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Двигатели
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Запчасти

        section.banner-section
            .container
                .banner-section__inner
                    .banner-section__slider
                        |
                        |
                        a.banner-section__slider-item(href='#')
                            img(class='banner-section__slider-img' src="icons/banner/banner-slider.jpg", alt="banner-img")
                        |
                        |
                        a.banner-section__slider-item(href='#')
                            img(class='banner-section__slider-img' src="icons/banner/banner-slider.jpg", alt="banner-img")
                        |
                        |
                        a.banner-section__slider-item(href='#')
                            img(class='banner-section__slider-img' src="icons/banner/banner-slider.jpg", alt="banner-img")
                        |
                        |
                        a.banner-section__slider-item(href='#')
                            img(class='banner-section__slider-img' src="icons/banner/banner-slider.jpg", alt="banner-img")
                        |
                        |
                        a.banner-section__slider-item(href='#')
                            img(class='banner-section__slider-img' src="icons/banner/banner-slider.jpg", alt="banner-img")
                        |
                        |
                        a.banner-section__slider-item(href='#')
                            img(class='banner-section__slider-img' src="icons/banner/banner-slider.jpg", alt="banner-img")
                    |
                    |
                    a.banner-section__item.sale-item
                        .sale-item__top
                            .sale-item__info акция
                            .sale-item__price
                                .sale-item__price-new 190 000
                                .sale-item__price-old 225 000
                        img.sale-item__img(src="icons/banner/engine.png", alt="engine-img")
                        h5.sale-item__title Лодочный мотор Suzuki DF9.9BRS
                        .sale-item__footer Акция действует до
                            span 31.08.2020
    
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="js/slick.min.js")
    script(src="js/script.js")

